@use "../abstracts/" as *;

.heading-primary {
	margin-bottom: 0.5rem;
	color: $cta-main;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 0 0.3rem 0.3rem $black-color;
	@media (min-width: 62em) {
		font-size: $font-size-60;
		letter-spacing: 4px;
	}
}
.heading-secondary{
	@media(min-width: 48em){
		font-size: $font-size-32;
	}
}
.section__text{
	font-size: $font-size-14;
	line-height: 1.4;
	@media(min-width: 62em){
		font-size: $font-size-16;
		line-height: 1.6;
	}

}
