@use "../abstracts/" as *;

.heading-primary {
	margin-bottom: 0.5rem;
	color: $light-gray-d;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 0 0.3rem 0.3rem $black-color;
	@media (min-width: 992px) {
		font-size: $font-size-36;
		letter-spacing: 4px;
	}
}
