@use "./colors" as *;

// nav animations

.nav__link-animation {
	position: relative;
	transition: color 0.3s;
	&:hover {
		z-index: 5;
		color: $primary-light-4;
	}
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: background-color 0.4s;
		border-radius: 5px;
	}
	&:hover::after {
		background-color: $primary-light-2;
		z-index: -1;
	}
}
