$primary-dark-3: #1d0538;
$primary-dark-2: #2c0755;
$primary-dark-1: #3a0a71;
$primary-color: #490C8D;
$primary-light-1: #6d3da4;
$primary-light-2: #926dbb;
$primary-light-3: #b69ed1;
$primary-light-4: #c8b6dd;

$primary-light-transparent: rgba(139, 71, 216, 0.7);

$primary-logo: #5C2E6A;
$primary-logo-2: #8D2FB1;

$cta-main: #ffa500;
$cta-dark-1: #cc8400;
$cta-dark-2: #996300;
$cta-light-1: #ffb733;
$cta-light-2: #ffc966;

$white-color: #fff;
$light-gray-e: #eee;
$light-gray-d: #ddd;
$light-gray-c: #ccc;
$light-gray-b: #bbb;
$light-gray-a: #aaa;

$black-color: #000;
$dark-gray-1: #111;
$dark-gray-2: #222;
$dark-gray-3: #333;
$dark-gray-4: #444;
$dark-gray-5: #555;
$dark-gray-6: #666;

$light-purple-gradient: linear-gradient(135deg, $primary-light-4, $primary-light-2,); 
$light-purple-gradient-2: linear-gradient(135deg, $primary-light-3, $primary-light-1,); 
$dark-purple-gradient: linear-gradient(135deg, $primary-color, $primary-light-1); 
$dark-purple-gradient-45: linear-gradient(45deg, $primary-color, $primary-light-2); 
$dark-purple-gradient-315: linear-gradient(315deg, $primary-color, $primary-light-2); 
$dark-purple-gradient-transparent-135: linear-gradient(135deg, $primary-color, $primary-light-transparent); 
$dark-purple-gradient-transparent-315: linear-gradient(315deg, $primary-color, $primary-light-transparent); 