@use '../abstracts/' as * ;

.aboutus{
    padding-inline: 2rem;
    color: $dark-gray-1;
    &__heading{
        margin-bottom: 1rem;
    }
    &__img-box{
        width: 100%;
        max-width: 30rem;
        margin-bottom: 2rem;
        margin-inline: auto; 
    }
    &__img{
        margin-inline: auto; 
        width: 90%;
    }
    @media(min-width: 62em){
        &__text-box{
            padding: 2rem;
        }
        &__heading{
            margin-bottom: 2rem;           
        }
    }
}