@use '../abstracts/' as *;

.footer{
    position: relative;
    padding-inline: 2rem;
    // padding-block: 10rem;
    // background-image: $dark-purple-gradient-315;
    &::after{
        content: "";
        position: absolute;
        inset: 0;
       background-image: $dark-purple-gradient-315;
       transform: skewY(3deg);
       z-index: -1;
    }
    &::before{
        content: "";
        position: absolute;
        bottom: -4.5rem;  
        left: 0;      
        width: 100%;
        height: 30%;        
        // background-color: $cta-main;
        // background-color: $primary-color;
        background-image: $dark-purple-gradient-315;
        z-index: -1;
    }
    &__dropdown{
        // min-width: 15rem;
        position: relative;
        // margin: 2rem;
    }
    &__select{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        color: $light-gray-d;
        background-color: $primary-color;
        border: 1px solid $primary-light-1;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color .3s;
        &:hover{
            background-color: $primary-light-1;
        }
    }
    &__caret{
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #fff;
        transition: .3s;
    }
    &__list{
        margin-top: .5rem;
        padding: 0.2rem .5rem;
        background-color: $primary-color;
        border: 1px solid $primary-light-1;
        border-radius: 5px;
        color: $light-gray-d;
        position: absolute;
        top: 3rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        opacity: 0;
        display: none;
        transition: .3s;
        z-index: 1;
    }
    &__link{
        display: block;
        padding: .3rem;
        margin-block: .3rem;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            background-color: $cta-main;
        }
    }
    &__social-list{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 2rem;
        padding-block: 1rem;
    }
    &__icon{
        color: $light-gray-e;
        font-size: $font-size-24;
    }
    @media(min-width: 48em){
        &__box{
            display: flex;
            max-width: 100vw;
            // background-color: #fff;
        }
        &__dropdown{
            margin-inline: auto;
        }
        &__caret{
            display: none;
        }
        &__select, &__list{
            border-radius: 0;
            border: none;
            background: none;
        }
        &__list{
            display: block;
            position: relative;
            top: 0;
            margin: 0;
            opacity: 1;
        }
        &__social-list{
            width: 30vw;
            margin-inline: auto;
        }
        &__icon{
            font-size: $font-size-24;
        }
    }
}
.selected-clicked{
    border: 2px solid $cta-main;
    box-shadow:  0 0 .8rem $black-color;

}
.caret-rotate{
    transform: rotate(180deg)
}
.menu-open{
    display: block;
    opacity: 1;
}
