.grid{
    display: grid;
    &__header{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        @media(min-width: 768px){
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
    }

    }
}
