.grid {
	display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
	&__header {
        grid-template-rows: repeat(2, 1fr);
		@media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
		}
	}
    &__aboutus{
        grid-template-rows: repeat(2, auto);
        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
        }
        
    }
}
