.grid {
	display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
	&__header {
        grid-template-rows: repeat(2, 1fr);
		@media (min-width: 48em) {
            grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
		}
	}
    &__aboutus{
        grid-template-rows: repeat(2, auto);
        @media (min-width: 48em) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
        }
    }    
    &__pricing{
        @media(min-width: 36em){
            gap: 4rem;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        @media(min-width: 75em){
            gap: 0rem;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;

        }
    }
}
