@use '../abstracts/' as *;
@use '../base/' as *;


.header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding-inline: 1rem;
    &::after{
        content: "";
        position: absolute;
        inset: 0;
        background-image: $dark-purple-gradient-transparent, url(../../../src/img/header_bg.jpg);
        background-position: center;
        background-size: cover;
        transform: skewY(-3deg);
        z-index: -1;
    }
    &__text-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__heading{
        margin-top: 4rem;
    }
    &__info{
        margin-bottom: 1rem;
        color: $light-gray-d;
        text-shadow: 0 .2rem .3rem $black-color;
        text-align: center;
        &--second{
            display: none;
        }
    }
    &__img{
        display: block;
        width: 100%;
        margin-inline: auto;
        max-width: 27rem;
        height: auto;
    }
    @media(min-width: 48em){
        padding-inline: 2rem;
        &__text-box{
            align-items: flex-start;            
            font-size: $font-size-20;
        }
        &__heading{
            margin-bottom: 2rem;
        }
        &__info{
            text-align: left;
            margin-bottom: 1rem;
            &--second{
                margin-bottom: 3rem;
                display: block;
            }
        }
        &__img-box{
            grid-column: 2/4;
            align-self: center;
        }
    }
    @media(min-width: 62em){
        transform: translateY(-1rem);
        &__img{
            margin-top: 3rem;
            right: 0;
            height: auto;
            max-width: 50rem;
        }
    }
}
